*{
	outline: none;
	font-family: 'Roboto Slab';
}
html{
	scroll-behavior: smooth;
}
#about-bg{
  background-image: url("cup2.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#editor-bg{
  background-image: url("boat.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-text{
	color: #fafafa;
	font-size: 5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
	margin-top: 12vw;
}
.edit-bar{
  overflow: hidden;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom: 0;
  width: 100%;
  }
#colorpicker{
	display: none;
}
